<div class="container" align="center">
	<%= form_for(@shop) do |f| %>
		<p><%= f.text_field :shop_name %></p>
		<p><%= f.text_field :address %></p>
		<p><%= f.text_area :caption %></p>
		<p><%= f.attachment_field :shop_image %></p>
		<p><%= f.submit "Done" %></p>
	<% end %>
</div>