<h1>shops edit</h1>

<div class="container" align="center">
	<%= form_for(@shop) do |f| %>
		<%= f.text_field :shop_name %>
		<%= f.text_field :address %>
		<%= f.text_area :caption %>
		<%= f.submit "Done" %>
	<% end %>
</div>