<h1>shops new</h1>

<div class="container" align="center">
	<%= form_for(@shop) do |f| %>
		<p>name<%= f.text_field :shop_name %></p>
		<p>address<%= f.text_field :address %></p>
		<p>caption<%= f.text_area :caption %></p>
		<p><%= f.submit "Done" %></p>
	<% end %>
</div>