<div class="container" align="center">
	<% if @shop.user === current_user %>
		<p><%= attachment_image_tag @shop, :shop_image, size:"200x200" %></p>
		<p><%= @shop.shop_name %></p>
		<p><%= @shop.address %></p>
		<p><%= @shop.caption %></p>
		<%= link_to "Edit", edit_shop_path(@shop.id) %>
		<%= link_to "Delete", shop_path(@shop.id), method: :delete, "data-confirm" => "本当に消去しますか？" %>
		<%= link_to "Shops", shops_path %>
	<% else %>
		<p><%= attachment_image_tag @shop, :shop_image, size:"200x200" %></p>
		<p><%= @shop.shop_name %></p>
		<p><%= @shop.address %></p>
		<p><%= @shop.caption %></p>
		<%= link_to "Shops", shops_path %>
	<% end %>

	<%= form_for [@shop, @shop_comment] do |f| %>
		<p><%= f.text_area :comment %></p>
		<p><%= f.submit "Done" %></p>
	<% end %>

	<% @shop_comments.each do |shop_comment| %>
		<%= link_to shop_comment.user.name, user_path(shop_comment.user.id) %>
		<%= shop_comment.comment %>
		<% if shop_comment.user === current_user %>
			<%= link_to "Destroy", shop_shop_comment_path(shop_comment.shop, shop_comment), method: :delete, "data-confirm" => "本当に消去しますか？" %>
		<% end %>
		</br>
	<% end %>

</div>
