<h1>shops show</h1>

<div class="container">
	<% if @shop.user_id === current_user.id %>
		<p><%= @shop.shop_name %></p>
		<p><%= @shop.address %></p>
		<p><%= @shop.caption %></p>
		<%= link_to "Edit", edit_shop_path(@shop.id) %>
		<%= link_to "Delete", shop_path(@shop.id), method: :delete, "data-confirm" => "本当に消去しますか？" %>
		<%= link_to "Shops", shops_path %>
	<% else %>
		<p><%= @shop.shop_name %></p>
		<p><%= @shop.address %></p>
		<p><%= @shop.caption %></p>
		<%= link_to "Shops", shops_path %>
	<% end %>

	<%= form_for [@shop, @shop_comment] do |f| %>
		<%= f.text_area :comment %>
		<%= f.submit "Done" %>
	<% end %>

	<% @shop_comments.each do |shop_comment| %>
		<% if shop_comment.user_id = current_user.id %>
			<%= shop_comment.comment %>
			<%= link_to "Destroy", shop_shop_comment_path(shop_comment.shop, shop_comment), method: :delete, "data-confirm" => "本当に消去しますか？" %>
		<% else %>
			<%= shop_comment.comment %>
		<% end %>
		</br>
	<% end %>

</div>
