<div class="container" align="center">
	<%= form_for @user do |f| %>
 		<p><%= f.text_field :name %></p>
 		<p><%= f.text_area :introduction %></p>
 		<p><%= f.attachment_field :profile_image %></p>
 		<p><%= f.submit "Done" %></p>
 	<% end %>
 </div>