<div class="container" align="center">

	<table class="user_index">
		<% if user_signed_in? %>
			<% @users.each do |user| %>
				<% if user.is_active == "Available" %>
					<tr>
						<td>
							<div class="icon_idex">
								<%= link_to user_path(user) do %>
									<%= attachment_image_tag user, :profile_image, size:"50x50", fallback: "no_image.jpg", :class => "icon_index" %>
									<%= user.name %>
								<% end %>
							</div>
						</td>

						<td class="followbutton_<%= user.id %>">
							<% unless user == current_user %>
								<%= render "followbutton", user: user %>
							<% end %>
						</td>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>

</div>