<div class="container" align="center">
	<table class="user_index">
		<% if user_signed_in? %>
			<% @users.each do |user| %>
				<% if user.is_active == "有効" %>
					<tr>
						<td>
							<%= link_to user_path(user) do %>
							<%= attachment_image_tag user, :profile_image, size:"100x100" %>
							<%= user.name %>
						<% end %>
						</td>

						<td>
						<% unless user == current_user %>
							<% if current_user.following?(user) %>
								<%= link_to 'Unfollow', unfollow_path(user.id) %>
							<% else %>
								<%= link_to 'Follow', follow_path(user.id) %>
							<% end %>
						</td>
						<% end %>
					</tr>
				<% end %>
			<% end %>
		<% end %>
	</table>
</div>