<h1>users show</h1>

<div class="container" align="center">
	<p><%= @user.name %></p>
	<p><%= @user.introduction %></p>

	<% @shops.each do |shop| %>
		<p><%= link_to shop.shop_name, shop_path(shop.id) %></p>
	<% end %>

	<% if @user === current_user %>
		<%= link_to "EditProfile", edit_user_path(current_user.id) %>
		<%= link_to "Withdrawal", goodbye_user_path %>
	<% end %>

	<p><%= "Follow: #{@user.follower.count}" %></p>
	<p><%= "Follower: #{@user.followed.count}" %></p>

	<% unless @user == current_user %>
		<% if current_user.following?(@user) %>
	    	<%= link_to "Unfollow", unfollow_path(@user.id), method: :get %>
	  	<% else %>
	    	<%= link_to "Follow", follow_path(@user.id), method: :get %>
	  	<% end %>
	<% end %>

	<h4>Follow All</h4>
		<% @user.following_user.each do |user| %>
	  	<p>
	  		<%= link_to user.name, user_path(user) %>
		    <% unless user == current_user %>
		    	<% if current_user.following?(user) %>
		        	<%= link_to "Unfollow", unfollow_path(user.id), method: :get %>
		      	<% else %>
		        	<%= link_to "Follow", follow_path(user.id), method: :get %>
		      	<% end %>
		    <% end %>
		</p>
	<% end %>

	<h4>Follower All</h4>
	<% @user.follower_user.each do |user| %>
		<p>
	    	<%= user.name %>
	    	<% unless user == current_user %>
	      		<% if current_user.following?(user) %>
	        		<%= link_to "Unfollow", unfollow_path(user.id), method: :get %>
	      		<% else %>
	        		<%= link_to "Follow", follow_path(user.id), method: :get %>
	      		<% end %>
	      		<%= link_to "Show", user_path(user) %>
	    	<% end %>
	  	</p>
	<% end %>
</div>