<h1>users show</h1>

	<%= current_user.name %>
	<%= current_user.introduction %>

	<% @shops.each do |shop| %>
		<p><%= link_to shop.shop_name, shop_path(shop.id) %></p>
	<% end %>

	<p><%= link_to "EditProfile", edit_user_path(current_user.id) %></p>
	<p><%= link_to "Withdrawal", goodbye_user_path %></p>