<h1>users show</h1>

<div class="container">

	<%= render 'follow_form' %>

	<section class="stats">
  		<%= render 'users/status' %>
	</section>

	<p><%= @user.name %></p>
	<p><%= @user.introduction %></p>

	<% if @user === current_user %>
		<p><%= link_to "EditProfile", edit_user_path(current_user.id) %></p>
		<p><%= link_to "Withdrawal", goodbye_user_path %></p>
	<% end %>

	<% @shops.each do |shop| %>
		<p><%= link_to shop.shop_name, shop_path(shop.id) %></p>
	<% end %>

</div>