<div class="container" align="center">
	<div class="icon">
		<%= attachment_image_tag @user, :profile_image, size:"150x150", fallback: "no_image.jpg", :class => "icon" %>
	</div>

	<table>
		<tr>
			<th> Follow </th>
			<th> Follower </th>
		</tr>

		<tr align="center">
			<td><%=link_to @user.follower.count, following_user_path(@user) %></td>
			<td><%=link_to @user.followed.count, followers_user_path(@user) %></td>
		</tr>
	</table>

	<p><%= @user.name %></p>
	<p><%= @user.introduction %></p>

	<% if @user === current_user %>
		<p><%= link_to "EditProfile", edit_user_path(current_user.id) %></p>
		<p><%= link_to "Withdrawal", goodbye_user_path %></p>
	<% end %>

	<table>
		<% @shops.each do |shop| %>
			<tr>
				<th><%= attachment_image_tag shop, :shop_image, size:"300x300", fallback: "no_image.jpg" %></th>
			</tr>

			<tr>
				<td><%= link_to shop.shop_name, shop_path(shop.id) %></td>
			</tr>
		<% end %>

		<% unless @user == current_user %>
			<% if current_user.following?(@user) %>
			    <%= link_to "Unfollow", unfollow_path(@user.id), method: :get %>
			<% else %>
			    <%= link_to "Follow", follow_path(@user.id), method: :get %>
			<% end %>
		<% end %>
	</table>
</div>