<h1>users show</h1>

<div class="container" align="center">
	<p><%= @user.name %></p>
	<p><%= @user.introduction %></p>
	<p><%= attachment_image_tag @user, :profile_image, size:"125x125" %></p>

	<p>Follow <%=link_to @user.follower.count, following_user_path(@user) %></p>
	<p>Follower <%=link_to @user.followed.count, followers_user_path(@user) %></p>

	<% if @user === current_user %>
		<%= link_to "EditProfile", edit_user_path(current_user.id) %>
		<%= link_to "Withdrawal", goodbye_user_path %>
	<% end %>

	<% @shops.each do |shop| %>
		<p><%= attachment_image_tag shop, :shop_image, size:"200x200" %></p>
		<p><%= link_to shop.shop_name, shop_path(shop.id) %></p>
	<% end %>

	<% unless @user == current_user %>
		<% if current_user.following?(@user) %>
	    	<%= link_to "Unfollow", unfollow_path(@user.id), method: :get %>
	  	<% else %>
	    	<%= link_to "Follow", follow_path(@user.id), method: :get %>
	  	<% end %>
	<% end %>