<div class="container" align="center">
	<div class="icon">
		<%= attachment_image_tag @user, :profile_image, size:"150x150", fallback: "no_image.jpg", :class => "icon" %>
	</div>

	<table class="all-table">
		<tr>
			<th> Follow </th>
			<th> Follower </th>
			<th> Shops </th>
		</tr>

		<tr align="center">
			<td><%=link_to @user.follower.count, following_user_path(@user) %></td>
			<td><%=link_to @user.followed.count, followers_user_path(@user) %></td>
			<td><%=link_to @shops.count %></td>
		</tr>
	</table>

	<% if @user === current_user %>
		<table class="all-table">
			<th><%= link_to "New shops", new_shop_path %></th>
			<th><%= link_to "EditProfile", edit_user_path(current_user.id) %></th>
			<th><%= link_to "Withdrawal", goodbye_user_path %></th>
		</table>
	<% end %>

	<p>◯ <%= @user.name %></p>
	<p>◯ <%= @user.introduction %></p>

	<div class="followbutton_<%= @user.id %>">
		<% unless @user == current_user %>
			<%= render "followbutton", user: @user %>
		<% end %>
	</div>

	<% @shops.each do |shop| %>
		<div class="col-md-4">
			<div class="set">
				<%= link_to shop_path(shop.id) do %>
					<%= attachment_image_tag shop, :shop_image, size:"300x300", fallback: "no_image.jpg" %></br>
					<%= link_to shop.shop_name, shop_path(shop.id) %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>