<div class="container" align="center">
	<div class="top-photo">
	    <div class="phos"><img class="photo-view" src="<%= asset_path('cafe-0.jpg') %>"></div>
	    <div class="phos"><img class="photo-view" src="<%= asset_path('cafe-1.jpg') %>"></div>
	    <div class="phos"><img class="photo-view" src="<%= asset_path('cafe-2.jpg') %>"></div>
	    <div class="phos"><img class="photo-view" src="<%= asset_path('cafe-3.jpg') %>"></div>
	    <div class="phos"><img class="photo-view" src="<%= asset_path('cafe-4.jpg') %>"></div>
	    <div class="phos"><img class="photo-view" src="<%= asset_path('cafe-5.jpg') %>"></div>
	    <div class="phos"><img class="photo-view" src="<%= asset_path('cafe-6.jpg') %>"></div>
	    <div class="phos"><img class="photo-view" src="<%= asset_path('cafe-7.jpg') %>"></div>
	</div>
</div>