<!DOCTYPE html>
<html>
    <head>
        <title>Gather Coffeestand</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
        <header>
            <div class="container">
                <nav class="nav navbar-nav navbar-center">
                    <h3>Gather Coffeestand</h3>
                </nav>

                <nav>
                    <% if user_signed_in? %>
                        <p><%= link_to "Top", root_path %></p>
                        <p><%= link_to "About", home_about_path %></p>
                        <p><%= link_to "Shops", shops_path %>
                        <p><%= link_to "Users", users_path %>
                        <p><%= link_to "Mypage", user_path(current_user.id) %>
                        <p><%= link_to "logout", destroy_user_session_path, method: :delete %></p>
                    <% else %>
                        <p><%= link_to "Top", root_path %></p>
                        <p><%= link_to "About", home_about_path %></p>
                        <p><%= link_to "Signup", new_user_registration_path %></p>
                        <p><%= link_to "Login", new_user_session_path %></p>
                    <% end %>
                </nav>
            </div>
        </header>

    <%= yield %>
  </body>
</html>
